app:
  port: 8080

typeorm:
  host: localhost
  port: 3306
  database: store
  username: woowa
  password: woowa
  synchronize: true
  logging: true

jwt:
  secret:
    access: 128bit_base64_encoded
    refresh: 128bit_base64_encoded
