app:
  port: 8080
  client: http://localhost:9000
  server: http://localhost:8080
  
jwt:
  # https://generate.plus/en/base64 여기서 생성 가능
  secret: 128bit_base64_encoded

auth:
  kakao_client_id: kakao_api
