app:
  port: 8080
  client: http://localhost:9000
  server: http://localhost:8080

typeorm:
  host: localhost
  port: 3306
  database: store
  username: woowa
  password: woowa
  synchronize: true
  logging: true

jwt:
  secret: 128bit_base64_encoded

auth:
  kakao_client_id: kakao_api
